/*//////////////////////////////////////////////////////////
                          GERAL
/////////////////////////////////////////////////////////*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-family: "Poppins", sans-serif;
    font-size: calc(10px + 0.390625vw);
}
a{
    color: black;
    text-decoration: none;
}
/*//////////////////////////////////////////////////////////
                          TOPO
/////////////////////////////////////////////////////////*/
header {
    display: flex;
    justify-content: space-between;
    margin: 3vw 2vw 3vw 2vw;
}
header nav ul{
    display: flex;
    justify-content: space-between;
}
header nav ul li{
    margin: 0 2vw 0 2vw;
}
header nav ul li span.home a{
    color: #1090CB;
}
header nav ul li span.contact a{
    background-color: #1090CB;    
    color: white;
    border-radius: 5px;
    padding: 10px 25px 10px 25px;
}
/*//////////////////////////////////////////////////////////
                     Conteúdo
/////////////////////////////////////////////////////////*/
section.experience {
    display: flex;
    background: linear-gradient(rgba(16, 144, 203, 0.1), rgba(16, 144, 203, 0.1)), no-repeat center center;
}
section.experience div.info h1{
    font-weight: 500;
    font-size: 3rem;
    margin: 3vw 8vw 3vw 8vw;
}
section.experience div.info h1 span.mobile{
    color: #1090CB;
}
section.experience div.info p{
    color: #5C5C5C;
    margin: 3vw 8vw 3vw 8vw;
}

section.experience div.info a.contato {
    background-color: #1090CB;    
    color: white;
    border-radius: 5px;
    padding: 1vw 3vw 1vw 3vw;
    margin: 10px 10px 10px 10vw;
}
section.experience div.info a.view{
    background-color: white;    
    color: #1090CB;
    border-radius: 5px;
    padding: 1vw 3vw 1vw 3vw;
    margin: 1vw;
}
section.experience div.homemSentado {
    margin: 0 0 0 6vw;
}
section.applications div.all ul{
    display: flex;
    justify-content: space-between;
    margin: 2vw 3vw 2vw 3vw;
}
section.applications div.web {
    background-color: #EFEAFF;
    padding: 20px 20px 10px 20px;
    border-radius: 20px;
}
section.applications div.seo {
    background-color: #EFEAFF;
    padding: 20px 20px 10px 20px;
    border-radius: 20px;
}
section.applications div.seo